*{
    margin: 0;
    padding: 0;
    background: rgb(229, 228, 172);
}

.Car > button {
    width: 75px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    background: snow;

}

.Cars {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.Car {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 150px;
    font-size: 18px;
   font-style: italic;
}

.CarBlocks {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.Form {
    padding-top: 50px;
    margin-bottom: 50px;
}

.Form>button {
    width: 75px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    background: snow;
}
