
.mainBlock{
    display: flex;
    flex-direction: column;
}


.twoBlocks {
    display: flex;
    width: 100%;

}

.mainUserBlock {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background: #f89d9d;
    justify-content: center;
}
.mainUserBlockTwo {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}
.mainUserBlockTwo>div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}



.mainPostBlock{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background: #8edfff;
}

.mainPostBlockTwo {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.mainPostBlockTwo>div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 48.5%;
}





.thirdBlock{
    display: flex;
    background: floralwhite;
}

.mainCommentBlock{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

.commentBlock {
    width: 18.5%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}